body { 
    font-family: sans-serif;

}

.main-container { 
    display: grid;
    grid-template-columns: minmax(160px, 300px) 3fr;
    grid-template-rows: minmax(150px, 200px) 3fr;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

/* Logo grid */
.header { 
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 2px solid rgb(222, 222, 222);
}
    .top-header { 
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        align-items: center;
        padding: 25px;
    }
        .top-left-flex {
            display: flex;
            gap: 5px;
            align-items: center;
            width: 100%;
        }
        .top-right-flex {
            display: flex;
            gap: 20px;
            align-items: center;
        }
        .top-header-btn {
            border: none;
            background-color: rgba(222, 222, 222, 0);
        }
        .top-header-btn:hover {
            cursor: pointer;
            color: salmon;
        }
        .user-name { 
            font-weight: bold;
        }
        .search-bar { 
            width: 50%;
            min-width: 200px;
        }
    .bottom-header {
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        align-items: center;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }
        .bottom-left-flex{ 
            display: flex;
            gap: 15px;
            align-items: center;
        }
        .bottom-right-flex { 
            display: flex;
            gap: 15px;
            align-items: center;
        }
        .bottom-header-btn { 
            border: none;
            background-color: #00adef;
            padding: 10px;
            width: 60px;
            border-radius: 15px;
            color: white;
        }
        .bottom-header-btn:hover { 
            cursor: pointer;
            background-color: salmon;
        }

/* Logo grid */
.logo-container { 
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #00adef;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sidebar grid */
.sidebar { 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #00adef;
    display: flex;
}
    .button-container { 
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }
        .page-btn {
            background-color: #00abef00;
            width: 100%;
            border: none;
            text-align: left;
            padding: 8px;
            font-size: 1.2em;
            color: white;
            margin: 0px;
            display: inline-block;
            padding-left: 15px;
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: bold;
        }
        .page-btn:hover { 
            color: white;
            background-color: salmon;
        }
        .sidebar-seperator { 
            height: 6em;
        }


/* Main grid */
.main{ 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(232, 232, 232);
    display: grid;
    grid-template-columns: 3fr 1fr;

}

    .main-right-flex { 
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 0px;
        margin-top: 15px;
        font-size: 0.8em;
        
    }

        .announcement-card { 
            background-color: white;
            padding: 15px;
            width: 80%;
            border-radius: 15px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            min-width: 200px;
            
        }
        .annnouncement-seperator { 
            height: 1px;
            background-color: rgb(206, 206, 206);
            width: 100%;
            
        }
        .trending-card { 
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 15px;
            width: 80%;
            border-radius: 15px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            min-width: 200px;
        }
            .trending-profile { 
            display: flex;
            align-items: center;
            gap: 10px;
            }
            .user-name-btn { 
                border: none;
                background-color: rgba(222, 222, 222, 0);
                font-weight: bold;
                padding: 0px;
                margin: 0px;
                font-size: 1em;
                cursor: pointer;
            }
            .user-name-btn:hover { 
                color: #fa8072;
            }
    .main-left-flex { 
        display: flex; 
        flex-direction: column;
        gap: 0px;
        margin-top: 15px;
        font-size: 0.8em;
        padding-left: 15px;
        padding-right: 15px;
    }
        .article-flex { 
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }
            .card { 
                background-color: white;
                width: 20vw;
                min-width: 200px;
                height: 200px;
                padding: 15px;
                border-radius: 15px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                flex-grow: 1;
                border-left: #00adef 5px solid;
            }
            .card:hover { 
                cursor: pointer;
                border-left: salmon 5px solid;
            }
                .card { 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                    .card-buttons { 
                        text-align: end;
                    }
                    .crd-btn { 
                        border: none; 
                        background-color: rgba(222, 222, 222, 0);
                    }
                    .crd-btn:hover { 
                        color: salmon;
                        cursor: pointer;
                        rotate: 10deg;
                    }